@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.background {
  background:  url("/background.jpeg") center center/cover;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
  align-items: center;
  
}


.background::before {
  content: "";
  position: absolute;
  
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.2); 
  z-index: 1; 
}
.backgroundText {
  text-align: center;
  max-width: 1400px;
  margin:0 auto;
  font-size: 24px;
  z-index: 1;
}

.backgroundText h1{
  font-weight: bold;
  font-size: 32px;

}
.services {
    
   
  background-color: #f9f9f9;
 
}

.servicesContainer {
  display: flex;
  gap: 90px;
  max-width: 1400px;
  margin:0 auto;
  align-items: center;
  padding-bottom: 20px;
  }

.serviceCard {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.services h3 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  padding-top: 20px;
  font-size: 24px;
}

.services h1 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  padding-top: 70px;
  font-size: 28px;
}

.serviceCard img {
  width: 100%;  
  height: auto;
  object-fit: cover; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 20px;
  max-width: 1400px;
  margin:0 auto;
}

.logo img {
  height: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 17px;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out; 
}

.navbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 5px; 
}
.faq {
    
  background-color: #f9f9f9;
  text-align: left;
  padding: 20px;
 
}

.faq h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.faq-item {
  
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin:0 auto;
}

.faq-question {
  width: 100%;
  padding: 15px;
  text-align: left;
  font-size: 1rem;
  background: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  background-color: #f1f1f1;
}

.faq-answer {
  max-height: 0; 
  opacity: 0;   
  overflow: hidden; 
  transition: max-height 0.5s ease, opacity 0.5s ease; 
  padding: 0; 
}

.faq-answer.open {
  max-height: 200px; 
  opacity: 1;        
  padding: 15px;     
}
footer {

  background-color: lightblue;
  color: black;
  text-align: center;
  padding: 10px 0;
  padding: 20px;
  margin: 0 auto;
  
}
.footer p{
  padding: 10px;
}

.contact {
  background: repeating-linear-gradient(
      90deg,
      #b0dfe5,
      #b0dfe5 20px,
      #a9d8df 20px,
      #a9d8df 40px
  );
  padding: 40px 20px;
  text-align: center;
 

}
.contact-container{
  margin: 0 auto;
  max-width: 1400px;
  width: 35%;
  background-color: rgba(250, 246, 246, 0.7);
  padding: 15px;

}


.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  width: 60%;
  margin: 0 auto;
  max-width: 1400px;
  
}

.contact-container input,
.contact-container textarea {
  width: 100%; 

  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 1400px;
}

.contact-container textarea {
  height: 100px; 
  resize: vertical;
}

.contact-container button {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  max-width: 1400px;
  
}

.contact-container button:hover {
  background-color: #0056b3;
}

.contact-container h2{
  padding: 10px;
  font-weight: bold;
  font-size: 32px;
}
.icon {
 
  font-weight: bold;
  font-size: 1.2rem;
  
}
.icons{
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  margin: 0 auto;
  max-width: 1400px;
  
}


@media (max-width: 480px){
  .servicesContainer{
    flex-direction: column;
    align-items: center;
    
  }
  .background{
    width: 100%;
  }
 
  .services{
    width: 100%;
  }

  .contact-container{
    width: 70%;
  }
  .contact-container button{
    width: 100%;
  }

}

